# Connexion à la base de données MySQL
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=nom_de_la_base
DB_USER=nom_utilisateur
DB_PASSWORD=mot_de_passe

# Configuration des emails
# En local : Mailpit utilise localhost et le port 1025
# En ligne : remplacer par les informations SMTP de Brevo
MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=noreply@viteetgourmand.fr
MAIL_FROM_NAME=Vite et Gourmand

# Connexion à MongoDB
# En local : mongodb://localhost:27017
# En ligne : remplacer par l'URL MongoDB Atlas
MONGODB_URI=mongodb://localhost:27017
MONGODB_DATABASE=vite_gourmand_nosql