/*==  STYLE BOUTON == */

.site-nav {
    justify-self: center;
    /* centre le menu dans la colonne du milieu du grid */
    
}

.site-nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
}

.site-nav a {
    display: inline-block;
    text-decoration: none;
    background-color: #FFCD70;
    border-radius: 999px;
    padding: 5px 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 1px 4px 4px 0 rgba(255, 180, 29, 0.25);
    /* 0,25 = 25% opacité */
    font-size: 1.1rem;
    font-weight: bold;
    color: #000;
    white-space: nowrap;

}

/*==  HEADER == */
.header-right {
    display: none;

}

.site-header {
    background-color: rgba(255, 180, 29, 0.06);
    /* 0,06 = 6% opacité */
    padding: 16px 0;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 0 0 20px 0 ;
}

.header-container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 24px;

    display: grid;
    /* utilisation de grid pour faire 2 zones */
    grid-template-columns: auto 1fr;
    /* 2 colonnes : logo | menu */
    align-items: center;
    gap: 24px;
}

.site-logo {
    width: 220px;
    margin-right: auto;
}

.burger-button {
    display: none;
}

@media screen and (max-width: 1100px) {
    .header-container {
        gap: 10px;
        padding: 0 12px;
    }

    .site-logo {
        width: 180px;
    }

    .site-nav-list {
        gap: 8px;
    }

    .site-nav a {
        padding: 4px 10px;
        font-size: 0.95rem;
    }
}

/* Version mobile du header */
@media screen and (max-width: 768px) {

    /* Organisation du header en mobile */
    .header-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
    }

    /* Affiche le bouton burger en mobile */
    .burger-button {
        display: block;
        background: none;
        border: none;
        font-size: 2rem;
        cursor: pointer;
    }

    /* Réduit la taille du logo en mobile */
    .site-logo {
        width: 180px;
    }

    /* Cache le bloc vide de droite en mobile */
    .header-right {
        display: none;
    }

    /* Cache le menu au départ */
    .site-nav {
        display: none;
        position: absolute;
        top: 90px;
        left: 0;
        width: 100%;
        background-color: #F2E6C9;
        padding: 20px 0;
    }

    /* Affiche le menu quand on clique sur le burger */
    .site-nav.active {
        display: block;
    }

    /* Met les liens du menu en colonne */
    .site-nav-list {
        flex-direction: column;
        gap: 15px;
    }
}
